<!-- <div>
<input type="number" [value]="duration()" (change)="changeDuration($event)">
<br>
  <input type="text" [value]="message()" (change)="changeMessage($event)">
  <br>
    <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0" />
    </div> -->


    <!-- <app-header [cart]="cart()" /> -->
    <div class="px-10">
      <h1 class="text-lg font-bold">About</h1>
      <p class="text-xs">Lorem ipsum dolor <span hightlight>sit amet consectetur adipisicing elit.</span> Omnis, eum
      similique! Inventore ipsa iusto rem atque quis ipsum tenetur velit aliquid praesentium, in voluptate unde non
    doloribus fugit aut quibusdam.</p>

    <p class="text-xs">Número de clientes @if (duration() > 0) {
      <app-counter [duration]="duration()" [message]="message()"
        />
    }</p>

    <div>
      <app-wave-audio audioUrl="assets/audio.mp3" />
    </div>
  </div>
