<nav>
  <div class="w-full flex flex-wrap items-center justify-between mx-auto py-4">
    <div class="flex items-center space-x-8">
      <a href="https://flowbite.com/" class="flex items-center ">
        <img src="https://flowbite.com/docs/images/logo.svg" class="h-6 mr-3" alt="Flowbite Logo" />
        <span class="self-center text-xl font-semibold whitespace-nowrap">Flowbite</span>
      </a>
      <ul class="flex space-x-6">
        <li>
          <a routerLink="/"
            routerLinkActive="underline"
            [routerLinkActiveOptions]="{exact:true}"
            class="block hover:underline"
            aria-current="page"
          >Home</a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="underline" class="block hover:underline">About</a>
        </li>
        <li>
          <a routerLink="/services" routerLinkActive="underline" class="block hover:underline">Services</a>
        </li>
      </ul>
    </div>
    <div class="flex items-center">
      <button class="p-2 border rounded relative" (click)="toggleSideMenu()">
        <div class="absolute -top-2 -right-2 rounded h-5 w-5 bg-black text-white text-xs">{{cart().length}}</div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
          </svg>
        </button>
      </div>
    </div>
  </nav>

  <div class="fixed border-l-4 top-0 right-0 bg-red z-40 w-72 h-screen p-4 overflow-y-auto transition-transform bg-white"
    [class.translate-x-full]="hideSideMenu()">
    <div class="flex justify-between items-center">
      <p class="text-xl font-bold">Shopping Cart</p>
      <button (click)="toggleSideMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="mt-5">
      @for (product of cart(); track product) {
        <div class="flex justify-center items-center my-3">
          <div class="grid grid-cols-6 gap-4 max-w-3xl">
            <div class="col-span-2">
              <img [src]="product.images[0]" [alt]="product.title" class="w-full h-auto rounded overflow-hidden">
            </div>
            <div class="col-span-4 flex flex-col justify-between">
              <div class="flex justify-between">
                <h2 class="text-sm font-bold">{{product.title}}</h2>
                <div class="text-sm font-bold">$ {{product.price}}</div>
              </div>
              <div class="flex justify-between mt-4">
                <div class="text-xs font-bold text-gray-400">Qty</div>
                <div class="text-xs font-bold text-purple-600 px-2 py-1 hover:bg-purple-100 cursor-pointer">
                  Remove
                </div>
              </div>
            </div>
          </div>
        </div>
      }
      <hr>

        <div class="flex justify-between mt-3">
          <div class="font-bold text-purple-800">Total</div>
          <div class="font-bold">$ {{total()}}</div>
        </div>

        <button class="block bg-purple-700 shadow-sm hover:shadow-none text-white rounded mt-3 mx-auto px-2 py-1">
          Checkout
        </button>

      </div>
    </div>
